xac.lat {
    reverse_proxy ciay_frontend:3000
}

www.xac.lat {
    redir https://xac.lat{uri}
}

api.xac.lat {
    reverse_proxy ciay_backend:8000 {
        # ESTO ES LA CLAVE: Desactiva el buffer para Streaming y Sockets
        flush_interval -1
    }
}